@tailwind base;
@tailwind components;
@tailwind utilities;



.navbar-tranistion{
    transition: all 5s ease-in-out;
}



/* mport React, { useState } from 'react'


import { FiMenu } from 'react-icons/fi';
import {GrClose} from 'react-icons/gr'

const Navbar = () => {
    const [ismenu,setismenu]=useState(false);
    const [isnav,setisnev]=useState('sm:z-[-1] md:z-[1] md:z-auto md:static absolute md:static absolute');

     

    const handleclick=()=>{
       setismenu(ismenu => !ismenu)
       if(ismenu){
        setisnev('sm:z-[-1]  md:z-auto md:static absolute sm:mt-5 md:static absolute')
       }
       else{
        setisnev('')
       }
    }

    console.log(ismenu)
    return (
        <div className="bg-blue-600 text-white   md:flex md:items-center md:justify-around relative navbar-tranistion">
            <div className="flex sm:flex-col  p-5 md:m-0 md:p-0    
               md:flex-row md:justify-between md:items-center  ">
                <div className='md:flex-shrink-0 flex items-center'>
                    <img src='Company Logo.svg' alt='Companys logo' />
                    <button className='sm:flex md:hidden absolute right-10 m-1 text-2xl' onClick={handleclick}> 
                    {ismenu ? <GrClose />:<FiMenu />} </button>
                    
                </div>
            

                <div className={`text-lg  flex justify-start md:mx-20  md:flex-shrink-0  ${isnav}`}>

                    <div className='flex sm:flex-col sm:justify-start md:justify-center md:flex-row mt-5 md:m-0' >
                        <div><button className='mx-2 sm:my-1 '> Home </button> </div>
                        <div><button className='mx-2 sm:my-1'> Our Products </button> </div>
                        <div><button className='mx-2 sm:my-1'> Resources </button> </div>
                        <div><button className='mx-2 sm:my-1'> Contacts </button> </div>
                    </div>
                </div>

            </div>

            <div className={`text-xl  md:flex-shrink-0 flex justify-end ${isnav} ${isnav ? 'opacity-0':'opacity-100'}  `}>
                <button className={`sm:m-3 md:m-1 bg-green-500  py-3 px-3 rounded`}>Log in </button>
                <button className={`sm:m-3 md:m-1  bg-blue-500 py-3 px-3 rounded`}>Sign up</button>
            </div>

        </div>


    );
}

export default Navbar  my navbar is not showing any tranistion i want when i click on button etiher cross or menu button my dropdown menu show be in slow animation here is my css 
.navbar-tranistion{
    transition: all 5s ease-in-out;
} */